#calc-box {
    size: 100px 100px;
    background-color: #ccc;
    margin: auto;
    width: 50%;
}

.heading {
    text-align: center;
}

.form-item {
    margin: 10px 15px;
}

*:disabled {
    background-color: #ccc;
    border: none;
}